[Desktop Entry]
Name=big-preload user list generator
Comment=Capture mapped files of current session for next-boot preload
Exec=/usr/bin/big-preload-user-gen-list
Terminal=false
Type=Application
StartupNotify=false
NoDisplay=true
X-GNOME-Autostart-Phase=Applications
Categories=System
