[Unit]
Description=Using vmtouch to preload programs

# Ordering
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/big-preload
User=root
Group=root

[Install]
WantedBy=multi-user.target
