[Unit]
Description=Using vmtouch to preload programs

# Ordering
After=local-fs.target

[Service]
Type=oneshot
# Use - to ignore exit 1 when preload bigbashview
ExecStart=-/usr/bin/big-preload
User=root
Group=root

[Install]
WantedBy=multi-user.target
