[Desktop Entry]
Categories=System;
Exec=bigsudo bigbashview /usr/share/bigbashview/bcc/apps/biglinux-preload/index.sh.htm -s 1050x600 -i /usr/share/bigbashview/bcc/apps/biglinux-preload/logo.png
Icon=drive-harddisk
Name[pt_BR]=Pré carregar
Name=Preload
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=bigpreload
